* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Century Gothic";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #f7f7f7;
}

.header {
  position: relative;
  height: 100vh;
  background-image: url(../img/832209.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transition: all 0.2s;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary-main {
  color: #f7f7f7;
  text-transform: uppercase;
  display: block;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 50px;
  animation: moveInLeft 0.5s ease-in-out;
}
.heading-primary-sub {
  color: #f7f7f7;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 10px;
  animation: moveInRight 0.5s ease-in-out;
  margin-bottom: 60px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn:link,
.btn:visited {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  transition: all 0.2s;
  border-radius: 100px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px 10px #242424;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px 5px #242424;
}
.btn-white {
  background-color: #f7f7f7;
  color: #242424;
}
.btn::after {
  position: absolute;
  content: " ";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0%;
  left: 0%;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white::after {
  background-color: #f7f7f7;
}
.btn:hover::after {
  transform: scale(1.2);
  opacity: 0;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated {
  animation: moveUp 1s ease-in-out backwards;
}
