// Colors
$lightblack: #4e4e4e;
$dirtblack: #1f1f1f;
$black: #000000;
$dirtwhite: #f7f7f7;

//Grid Width
$gridwidth: 114rem;
$gridvl: 8rem;
$gridhl: 6rem;

// Font Sizes
$default-font-size: 1.6rem;

//
$card1-color: linear-gradient(to right, #fe8c00, #f83600);
$card2-color: linear-gradient(to right, #5f2c82, #49a09d);
$card3-color: linear-gradient(to right, #de6262, #ffb88c);
