.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color: $dirtblack, $alpha: 0.1);
  border-radius: 3px;
  background-color: $dirtwhite;
  padding: 5rem;
  padding-left: 9rem;
  clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
  transition: all 0.2s  ;
  &:not(:last-child){
      margin-bottom: 10rem;
  }

  &_shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    background-color: #f15423;
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem);
  }

  &_image {
    height: 100%;
  }

//   &:hover {
//     clip-path: polygon(0 0, 93% 0, 100% 100%, 7% 100%);
//   }
}
